@import url(//fonts.googleapis.com/css?family=Vibur);
html,
body,
canvas,
.bodyDashboard {
    width: 100%;
    height: 100%;
}

.thunder {
    width: 100%;
    height: 100%;
    background-color: #222;
    background-image: url('https://drive.google.com/uc?export=view&id=0BzFF7FmbJUo5X0NEUXFVd0NBcWc');
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    display: none;
}

#BodyCanvasLluvia {
    display: none;
}

.thunder:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    animation: thunder-bg 6s infinite;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#canvas3 {
    z-index: 5;
}

#canvas2 {
    z-index: 10;
}

#canvas1 {
    z-index: 100;
}

#loading {
    position: relative;
    top: 27%;
    text-align: center;
    font-weight: bold;
    font-family: Consolas, Courier, monospace;
    font-size: 60px;
    text-shadow: 0 0 15px #411;
    height: 100%;
}

.glow {
    color: #f00;
    text-shadow: 0px 0px 10px #f00;
}

span {
    display: inline-block;
    padding: 0 10px;
}

.button1 {
    background-color: black;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300px;
    color: white;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: black;
    background-color: rgba(242, 78, 27, 25);
}

.fa-vivas {
    float: left;
    width: 100px;
    height: 100px;
    position: absolute;
}

.elegantshadow {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.col-xs-6:hover {
    box-shadow: 0 0 5px black, 0 2px black, 0 2px black;
}

#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart {
    min-height: 250px;
}