* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */

h2 		 {
  text-align:center;
  margin-bottom:50px;
}
h2 small {
  font-weight:normal;
  color:black;
  display:block;
}
.footer 	{ text-align:center; }
.footer a  { color: rgba(242, 78, 27, 25); }

/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
  margin-bottom:25px;
  margin-left: 230px;
}
input 				{
    background-color: black;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid white;
}
input:focus 		{ outline:none;
    border-bottom:1px solid rgba(242, 78, 27, 25);}

/* LABEL ======================================= */
label 				 {
  color:black;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label		{
  top:-20px;
  font-size:14px;
  color:rgba(242, 78, 27, 25);

}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:rgba(242, 78, 27, 25);
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
input:focus{

  color: white;
  
}
#registro{

    float: right;
    margin-right: 235px;
}
#enviar{

float: left;
margin-right: 0;
margin-left: 235px;

}
#Confcontrasena{
    margin-bottom: 20px;
}
#registrarInput{
margin-left: 335px;

}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:rgba(242, 78, 27, 25); }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:rgba(242, 78, 27, 25); }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:rgba(242, 78, 27, 25); }
  to 	{ width:0; background:transparent; }
}
