@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');
* {
    outline: none;
}

strong {
    font-weight: 600;
}

.page {
    width: 100%;
    background: #fdfdfd;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: .03em;
    color: #212121;
}

header {
    display: flex;
    position: absolute;
    width: 100%;
    height: 70px;
    background: black;
    color: #fff;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
    padding: 70px 20px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main>div {
    margin: auto;
    max-width: 600px;
}

main h2 span {
    color: #BF7497;
}

main p {
    line-height: 1.5;
    font-weight: 200;
    margin: 20px 0;
}

main small {
    font-weight: 300;
    color: #888;
}

#nav-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    pointer-events: none;
}

#nav-container .bg {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background: #000;
}

#nav-container:focus-within .bg {
    visibility: visible;
    opacity: .6;
}

#nav-container * {
    visibility: visible;
}

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 70px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 25px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: #aaa;
    transition: .3s;
}

.icon-bar+.icon-bar {
    margin-top: 5px;
}

#nav-container:focus-within .button {
    pointer-events: none;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
    margin-top: 70px;
    padding: 20px;
    width: 90%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 70px);
    background: #ececec;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    contain: paint;
}

#nav-content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#nav-content li a {
    padding: 10px 5px;
    display: block;
    text-transform: uppercase;
    transition: color .1s;
}

#nav-content li a:hover {
    color: rgba(242, 78, 27, 25);
}

#nav-content li:not(.small)+.small {
    margin-top: auto;
}

.small {
    display: flex;
    align-self: center;
}

.small a {
    font-size: 12px;
    font-weight: 400;
    color: #888;
}

.small a+a {
    margin-left: 15px;
}

#nav-container:focus-within #nav-content {
    transform: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#nav-content a,
#nav-content a:visited,
#nav-content a:focus,
#nav-content a:active,
#nav-content a:link {
    text-decoration: none;
    outline: 0;
}

#nav-content a {
    color: currentColor;
    transition: .2s ease-in-out;
}



ul {
    padding: 0;
    list-style: none;
}
